[submodule "external/python-ai-sdk-sdk"]
	path = external/python-ai-sdk-sdk
	url = https://github.com/python-ai-sdk/sdk.git
[submodule "external/snitchbench"]
	path = external/snitchbench
	url = https://github.com/T3-Content/SnitchBench.git
